alias ll="ls -al"
alias caf="caffeinate -d"
# python3 aliases, breaks pyenv
alias python="/usr/bin/python3"
alias pip="pip3"
# git aliases
alias gs="git status"
alias ga="git add ."
gcm() {
  git commit -m "$1"
}
